<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    {{> menu}}
    <div class="container">
        <div class="row">
            <div class="container">
                <label>old data:</label>
                <p>ID - {{obj.id}} Vendor -{{venID}} modelName - {{obj.modelName}}</p>
            </div>
            <form method="POST">
                <label>Vendor
                </label><br>
                <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" id="Type"
                    name="Vendor">
                    {{#each vendor}}
                    <option value="{{this.id}}">{{this.companyName}}</option>
                    {{/each}}
                </select>
                <div class="input-group mb-3">
                    <input type="text" name="modelName" class="form-control md-5" placeholder="modelName">
                </div>
                <div class="input-group mb-3">
                    <select class="form-select form-select" aria-label=".form-select-sm example" id="Type"
                        name="linuxVendor">
                        {{#each linux}}
                        <option value="{{this.id}}">{{this.vendor}}</option>
                        {{/each}}
                    </select>
                    <input type="text" name="linuxStatus" class="form-control" placeholder="LinuxStatus">
                </div>


                <button type="submit" class="btn btn-primary float-end md-8">
                    Изменить
                </button>
            </form>
        </div>
    </div>
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>